.feed{
	.lateral_esquerda{
        width: 100%;
        @include desktop{
             width: 22.85%;
        }

	}
    .conteudo{
          width: 100%;
	      @include desktop{
             width: 47.14%;
    }
    }
	  
    .lateral_Direita{
         width: 100%;
         @include desktop{
             width: 22.85%;
    }
}
}
