
/*Variaveis
--------------------------------------------------------------*/

$color: #333;
$font_size: 17px;
$font_family: 'Montserrat regular';
$line_heigth: 1.3;

/* Reset CSS
--------------------------------------------------------------*/

@import "style/reset";

/* Fontes 
--------------------------------------------------------------*/

/* Padroes 
--------------------------------------------------------------*/

/* Psginas
--------------------------------------------------------------*/
