
/*Variaveis
--------------------------------------------------------------*/

$color: #333;
$color_destaque: #2f7b21;
$color_background_botao: #01669c;
$color_background_botao_hover: #297ca5;
$font_size: 17px;
$font_family: 'Montserrat regular';
$line_heigth: 1.3;

/* Reset CSS
--------------------------------------------------------------*/

@import "style/reset";

/* Fontes 
--------------------------------------------------------------*/

/* Padroes 
--------------------------------------------------------------*/
@import "style/header";
@import "style/form";

/* Psginas
--------------------------------------------------------------*/
